<!DOCTYPE html>
<html>
<head>
  <title>LearnWith</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container-fluid">
    <div class= "navibar row">
        <div class="col-md-3"><img src="/dai-rails-project/app/assets/images/puzzlewith.JPG"></div><!-- img div-->
        <div class = "col-md-9 naviMenu">
            <ul>
                <div class="col-md-4"><li class="naviText text-primary"><a href="">Learning</a></li></div>
                <div class="col-md-4"><li class="naviText text-primary"><a href="">Puzzled</a></li></div>
                <div class="col-md-4"><li class="naviText text-primary"><a href="">Friends</a></li></div>
            </ul>
            </div> <!-- col-md-9 naviMenu -->
      </div><!--navibar row-->    
    </div> <!-- container-fluid-->
<%= yield %>
</body>
</html>
