body{
    font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif, normal;
}
.logo{
    width:100px;
    height:50px;
}
.navibar{
    font-size:30px;
    padding:10px 0px 10px 0px;
    border-bottom:solid 1px #dfdfdf;
}
.naviText{
    list-style:none;
    text-align:center;
    border: #19b6c2 solid 1px;
    color:#19b6c2;
    text-decoration:none;
    }
.naviText:link{
    list-style:none;
    text-align:center;
    border: #19b6c2 solid 1px;
    color:#19b6c2;
    text-decoration:none;
    }
.naviText:hover{
    list-style:none;
    text-align:center;
    border: #19b6c2 solid 1px;
    color:white;
    text-decoration:none;
    background-color:#19b6c2;
    }